_APP_VERSION=1.9.6
_APP_ENV=production
_APP_EDITION=self-hosted
_APP_DOMAIN=localhost
_APP_DOMAIN_TARGET=localhost
_APP_CONSOLE_DOMAIN=localhost
_APP_DOMAIN_FUNCTIONS=localhost
_APP_DOMAIN_SITES=localhost
_APP_HTTP_PORT=80
_APP_HTTPS_PORT=443
_APP_OPENSSL_KEY_V1=replace-with-a-64-character-random-hex-secret
_APP_DB_ADAPTER=mysql
_APP_DB_HOST=mariadb
_APP_DB_PORT=3306
_APP_DB_SCHEMA=appwrite
_APP_DB_USER=user
_APP_DB_PASS=replace-with-a-random-database-password
_APP_DB_ROOT_PASS=replace-with-a-random-root-database-password
_APP_REDIS_HOST=redis
_APP_REDIS_PORT=6379
_APP_REDIS_USER=
_APP_REDIS_PASS=
_APP_STORAGE_DEVICE=local
_APP_STORAGE_LIMIT=30000000
_APP_STORAGE_PREVIEW_LIMIT=20000000
_APP_STORAGE_ANTIVIRUS=disabled
_APP_OPTIONS_ABUSE=enabled
_APP_OPTIONS_FORCE_HTTPS=disabled
_APP_OPTIONS_ROUTER_FORCE_HTTPS=disabled
_APP_OPTIONS_ROUTER_PROTECTION=disabled
_APP_USAGE_STATS=disabled
_APP_EMAIL_SECURITY=
_APP_CONSOLE_WHITELIST_ROOT=disabled
_APP_CONSOLE_WHITELIST_EMAILS=
_APP_CONSOLE_WHITELIST_IPS=
_APP_CONSOLE_HOSTNAMES=localhost
_APP_CONSOLE_SCHEMA=http
_APP_SYSTEM_EMAIL_NAME=Appwrite
_APP_SYSTEM_EMAIL_ADDRESS=team@appwrite.io
_APP_SYSTEM_TEAM_EMAIL=team@appwrite.io
_APP_SMTP_HOST=
_APP_SMTP_PORT=
_APP_SMTP_SECURE=
_APP_SMTP_USERNAME=
_APP_SMTP_PASSWORD=
_APP_MAINTENANCE_INTERVAL=86400
_APP_MAINTENANCE_START_TIME=00:00
_APP_EXECUTOR_SECRET=replace-with-a-64-character-random-hex-secret
_APP_EXECUTOR_HOST=http://exc1/v1
_APP_EXECUTOR_RUNTIME_NETWORK=runtimes
_APP_COMPUTE_RUNTIMES_NETWORK=runtimes
_APP_EXECUTOR_MAINTENANCE_INTERVAL=3600
_APP_COMPUTE_INACTIVE_THRESHOLD=60
_APP_COMPUTE_MAINTENANCE_INTERVAL=3600
_APP_FUNCTIONS_TIMEOUT=900
_APP_SITES_TIMEOUT=900
_APP_COMPUTE_BUILD_TIMEOUT=900
_APP_COMPUTE_CPUS=0
_APP_COMPUTE_MEMORY=0
_APP_COMPUTE_SIZE_LIMIT=30000000
_APP_FUNCTIONS_RUNTIMES=
_APP_SITES_RUNTIMES=
_APP_BROWSER_HOST=appwrite-browser
_APP_LOGGING_CONFIG=
